[submodule "package/lean/luci-theme-argon"]
	path = package/lean/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "package/lean/luci-app-vssr"]
	path = package/lean/luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
[submodule "package/lean/lua-maxminddb"]
	path = package/lean/lua-maxminddb
	url = https://github.com/jerrykuku/lua-maxminddb.git
[submodule "package/lean/luci-app-argon-config"]
	path = package/lean/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
