[submodule "package/lean/luci-theme-argon"]
	path = package/lean/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "package/lean/luci-app-vssr"]
	path = package/lean/luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
